* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}

.App-header {
  border-bottom: 3px solid #dd283f;
  display: flex;
  align-items: center;
}

.App-header h1 {
  color: #dd283f;
}

.App-body {
  margin: 4rem;
  margin-bottom: auto;
}

.App-footer {
  border-top: 3px solid #dd283f;
  text-align: center;
}